@import '../../constants/variables.scss';

.menu {
    height: 6vh !important;
    margin-bottom: 1vh !important;
    border-bottom: 2px solid $primary_color !important;
    background: $primary_color !important;
    :global(.item) {
        color: $secondary_color !important;
    }
}