.menu {
    height: 6vh !important;
    margin-bottom: 1vh !important;
    border-bottom: 2px solid rgba(0,0,0,.6) !important;
    background: rgba(0,0,0,.6) !important;
    :global(.item) {
        color: #fff !important;
    }
}