// Responsive stuff

$mobile_s: "(max-width: 321px)";
$mobile_m: "(min-width: 321px) and (max-width: 376px)";
$mobile_l: "(min-width: 376px) and (max-width: 426px)";

$tablet: "(min-width: 426px) and (max-width: 769px)";
$laptop: "(min-width: 769px) and (max-width: 1025px)";
$laptop_l: "(min-width: 1025px) and (max-width: 1441px)";

$wide: "(min-width: 1441px)";

// Colors

$primary_color: rgba(0, 0, 0, 0.6);
$secondary_color: #F0F3F4;
$hover_btn_color: #808080;

// Other
$box_shadow: 5pt 5pt 5pt 2pt #D3D3D3;