$mobile_s_width: 320px;
$mobile_m_width: 375px;
$mobile_l_width: 425px;

$tablet_width: 768px;
$laptop_width: 1024px;
$laptop_l_width: 1440px;

$wide_4k: 2560px;

$primary_color: rgba(0, 0, 0, 0.6);
$secondary_color: #F0F3F4;