@import '../constants/variables.scss';

.trackPage {
    margin: 1rem;
}

.topLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button:global(.button.ui.labeled) {
        font-weight: 900 !important;
        box-shadow: none !important;
        padding-left: 2rem !important;
        i {
            background: $secondary_color !important;
            margin-left: -.5rem !important;
        }    
    }
    button {
        border-radius: 0 !important;
        background: $primary_color!important;
        color: $secondary_color !important;
        margin-right: 0 !important;
    }
}

.playerWrap {
    margin: 1rem 0;
    border: 2px solid $primary_color;
}