@import '../../constants/variables.scss';

.input {
    width: 80% !important;
    input {
        border: 2px solid $primary_color !important;
        border-radius: 0 !important;
        font-weight: 900 !important;
    }
    i {
        color: $secondary_color !important;
        background: $primary_color !important;
        opacity: 1 !important;
        pointer-events: all !important;
        cursor: pointer !important;
        &:hover {
            background: #808080 !important;
        }
    }
}