@import '../../constants/variables.scss';

.input {
    width: 75% !important;
    input {
        border: 2px solid $primary_color !important;
        border-radius: 0 !important;
        font-weight: 900 !important;
        box-shadow: 5pt 5pt 5pt 2pt #D3D3D3 !important
    }
    i {
        color: $secondary_color !important;
        background: $primary_color !important;
        opacity: 1 !important;
        pointer-events: all !important;
        cursor: pointer !important;
        &:hover {
            background: $hover_btn_color !important;
        }
    }
}