@import '../../constants/variables.scss';

.multi {
  display: flex;
  align-items: baseline;
  width: 13rem;
  div:global(.dropdown) {
    width: 5rem !important;
  }
}
.sortBy {
  margin-right: .2rem !important;
}

.btn {
  border-radius: 0 !important;
  background: $primary_color !important;
  color: $secondary_color !important;
  margin-right: 0 !important;
}